
@font-face {
  font-family: 'Shilla_Gothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Shilla_Gothic-Bold';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;

}


.container{
  width: 300px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}


/* 결과 플렉스 박스 */
.resultBox{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #001d3d;
  color: white;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #0077B6;
}

.title{
  text-align: center;
  flex: 2;
  padding-top: 25px;
  font-size: 13px;
}

.resultRow{
  text-align: right;
  flex: 1;
  color: #b8bdc4;
}

#mainResult{
  text-align: right;
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: right;
}

#mainResult > div{
  font-size: 35px;
} 

/* 버튼 플렉스 박스 */
.buttonBox{
  flex: 1.8;
  display: flex;
  font-size: 20px;
  background-color: #003566;
  color: white;
}

/* 열 */
.col{
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 버튼 */
.row{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:first-child{
  color: #0077B6;
}

.col:last-child{
  color: #0077B6;
}

.col:first-child .row:first-child{
  color: red;
}
.col:last-child .row:first-child{
  font-size: 35px;
}

.col:last-child .row:last-child div{
  color: white;
  background-color: #00b4d8;
  padding: 3px 16px;
  border-radius: 3px;
}